/* info: Creating animations using the @keyframes at-rule */
/* * This exactly specifies what you want the animation to do at certain points */

@keyframes moveInLeft {
  /*info 0% is the start of the animation and 100% is the end of the animation. However you can specify several point in between */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0%,
  20% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
